<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>(애용타운) 에버랜드 자유이용권 팔아용</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/aeyong.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
        <!-- Item Image Slider -->
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12" style="float: none; margin:0 auto">
                    <div class="receipe-slider owl-carousel">
                        <img src="img/upload/에버랜.jpg" alt="">
                        <img src="img/upload/에버랜드2.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="receipe-headline my-5">
                        <span>2시간 전</span>
                        <span>카테고리 > 기타</span>
                        <h3>판매 : 에버랜드 자유이용권 팔아용</h2>
                        <h4>20,000원</h4>
                        <div class="receipe-duration">
                            <h6><a href="#">역북동핵주먹</a></h6>
                            <h6><a href="#">용인시 역북동</a></h6>
                            <h6>크리스마스 혼자 집에서 보내실꺼에요? 에버랜드 한번 조져야죠?</h6>
                        </div>
                        <div class="receipe-ratings text-right my-5">
                            <a href="#" class="btn delicious-btn">거래 신청하기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Receipe Content Area -->
        <div class="receipe-content-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-left">
                            <h4>희망 거래장소</h4>
                            <img src="img/upload/kakao map.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>


    

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>