<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.kosta.AeyongTown.model.mapper.MemberMapper">
	<insert id="registerMember" parameterType="memberVO">
		insert into
		t_member(member_id, m_password, m_name, nick, tel, birth, email,
		gender)
		values(#{memberId}, #{password}, #{name}, #{nick}, #{tel}, to_date(replace(#{birth}, '-', ''),'yyyymmdd'),
		#{email}, #{gender})
	</insert>
	<insert id="registerAddAuthority" parameterType="string">
		insert into t_authorities(member_id, authority) 
		values(#{value}, 'user')
	</insert>
	
	<!-- 내 정보 조회, 사용자 정보 조회 -->
	<select id="selectMemberInfo" parameterType="string"	resultType="memberVO">
		select
			member_id as memberId,
			m_name as name,
			nick,
			to_char(birth ,'yyyy-mm-dd') as birth,
			email,
			tel,
			gender,
			img_path as imgPath,
			status
		from t_member
		where member_id=#{value}
	</select>

	<select id="findMemberId" parameterType="memberVO" resultType="string">
		select member_id
		from t_member
		where
		m_name=#{name}
		and birth=to_date(#{birth},'yyyymmdd')
		and email=#{email}
	</select>
	<select id="idCheck" parameterType="string" resultType="string">
		select count(*)
		from t_member
		where member_id=#{value}
	</select>

	<!-- 스프링 시큐리티에서 해당하는 아이디와 패스워드가 존재, 일치하는지 
		로그인 후 이 정보들을 바탕으로 세션에 정보들이 들어간다-->
	<select id="findMemberById" resultType="memberVO">
		select 
			member_id as memberId, 
			m_password as password,
			m_name as name,
			nick,
			to_char(birth ,'yyyy-mm-dd') as birth,
			email,
			tel,
			gender,
			img_path as imgPath,
			status
		from t_member
		where member_id=#{value}
	</select>
	<!-- 스프링 시큐리티에서 해당 권한이 존재하는지 -->
	<resultMap type="AuthoritiesVO" id="AuthoritiesRM">
		<result column="member_id" property="AuthoritiesVO.memberId"/>
		<result column="authority" property="AuthoritiesVO.authority"/>
	</resultMap>
	<select id="selectAuthorityById" resultType="AuthoritiesVO">
		select 
			member_id,
			authority
		from t_authorities
		where member_id=#{value}
	</select>
	
	<!-- 닉네임 변경 -->
	<update id="modifyNick" parameterType="string">
		update 
			t_member 
		set 
			nick=#{nick} 
		where 
			member_id=#{memberId}
	</update>
	
	<!-- 닉네임, 프로필 이미지 변경 -->
	<update id="modifyNickAndImg" parameterType="string">
		update
			t_member
		set
			nick=#{nick},
			img_path=#{imgPath}
		where
			member_id=#{memberId}
	</update>
</mapper>